.coluna {
    border: 1px solid black
}

.cabecalho {
    min-height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    background-image: url("../images/back.jpg");
    background-size: cover;
}

.corpo {
    min-height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
    text-align: center;
    font-size: 12px;
    color: white;
}

.menu {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.itemMenu {
    float: left;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.itemMenu:hover {
    cursor: pointer;
    background-color: gray;
}

.not-found__container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    text-align: center;
    color: #3f3d56;
}

.not-found__container img{
    width: 100%;
    height: auto;
    max-width: 600px;
}

.not-found__container button{
    width: fit-content;
    border: 2px solid #3f3d56;
    color: #3f3d56;
    font-weight: bold;
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    transition: all ease .3s;
    cursor: pointer;
}

.not-found__container button:hover{
    background: #3f3d56;
    color: white;
    scale: 1.1;
}

